<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>ManUnited</title>
    <link rel="stylesheet" href="/css/man-united.css">
</head>
<body>
<div class="container">
  <a href="homepage" class="btn btn-primary btn-sm mb-3">Home Page</a>

    <br>

    <a th:href="@{/addManUtdPlayer}" class="btn btn-primary btn-sm mb-3">Add Player</a>

  <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Position</th>
          <th>Update</th>
          <th>Delete</th>
      </thead>
      <tbody>
        <tr th:each = "player : ${manutdplayer}">
            <td th:text="${player.firstName}"/>
            <td th:text="${player.secondName}"/>
            <td th:text="${player.position}"/>
            <td>
             <a th:href="@{updateManUtdPlayer(manUtdPlayerId=${player.id})}" class="btn btn-info btn-sm">Update</a>
            </td>
            <td><a th:href="@{deleteManUtdPlayer(manUtdPlayerId=${player.id})}"
            class="btn btn-danger btn-sm"
            onclick="if (! (confirm('Are you sure you want to delete this player?'))) return false">Delete</a>
            </td>
        </tr>
      </tbody>


  </table>
</div>
</body>
</html>